numpy==1.22.4
torch==1.8.1+cu111
joblib==1.1.0
matplotlib==3.5.1
optuna==3.1.1
pandas==1.4.2
deepdish==0.3.7
torch_xla==1.0
torchvision==0.9.1+cu111
tqdm==4.62.3
tabulate==0.9.0
datasets==2.12.0
evaluate==0.4.0
transformers==4.29.2
argparse
matplotlib>2.0.0
h5py===2.10.0
